body{
    overflow: hidden;
}

.zoom-container {
    width: 100%;
    border: 1px solid black;
    border-radius: 16px;
    background: rgba(223,201,179,255);
    overflow: hidden !important;
   transition: transform 0.1s ease-in-out;
}
  
#cursorImage{
    width: 100%;
    cursor: grab;

  }
  
  .wraper{
    padding: 10px 100px;
  }

  @media (max-width: 769px){
    .wraper{
        padding: 10px 40px;
      }
    
  }
  