body{
    overflow: hidden;
}

.zoom-container {
    width: 100%;
    height: 90vh;
    margin-top: 20px;
    border: 1px solid black;
    border-radius: 16px;
    background: rgba(223,201,179,255);
    overflow: hidden !important;
    /*transform-origin: center center;
    */transition: transform 0.1s ease-in-out;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
}
  
#cursorImage{
    width: 100%;

  }
  
  